<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- <style type="text/tailwindcss">
        @layer utilities {
            .yellow-text{
                @apply text-yellow-500;
            }
        }
    </style> -->

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/manualTailwindconfig.js"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
    
        <!-- contenent wrapper  -->
        <div class="grid lg:grid-cols-12 bg-gray-100">
            <!-- nav bar -->
            <%-include("navbar.ejs")%>
            <!-- nav bar end  -->
            
            <main class="grid lg:col-span-10 bg-gray-300 p-4">
                <div>       
                    <h2 class="font-bold text-lg p-2 m-3">
                        <span>At a time you will see 30 results</span>
                    </h2>
                    <!-- cards  -->
                    <div class="grid lg:grid-cols-3 sm:grid-cols-2">
                        <%#-include("cardElem.ejs") %>
                    </div>
                    <!-- cards end -->
                </div>
            </main>
        </div>

    <!-- menu -->
    <script>
        $("#menu-icon").on("click", ()=>{
            $("#menu").toggleClass("hidden").slideToggle();
        });
        $("#alert").removeClass("border-white").addClass("border-red-700");
    </script>

</body>
</html>